# Wheel for PyPI installs.
wheel==0.37.1

# Twine for secured PyPI uploads.
twine==3.7.1

# Transifex client for managing translation resources.
transifex-client==0.14.4

# Pandoc to have a nice pypi page
pypandoc==1.7.2
